# IGNORE FOLDER
.config/configstore
.config/gup
.vim/autoload
.vim/colors
.vim/plugged

# IGNORE FILE
.config/dlv/.dbg_history
.config/fish/functions/fish_greeting.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_right_prompt.fish
.config/fish/functions/fish_title.fish
.config/go/telemetry
.config/lazygit/state.yml
.config/nekome/.cred.toml
.config/nvim/lazy-lock.json
.config/skk
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/tmux/plugins
.config/zsh/.zcompdump
.vim/viminfo
.DS_Store
*.log
