# ignore folders
.config/gh
.config/gh-copilot
.config/github-copilot
.config/PowerShell/Modules
.config/PowerShell/Scripts
.config/vim/.netrwhist
.config/vim/autoload
.config/vim/colors
.config/vim/plugged
.config/vim/viminfo
# ignore files
.config/dlv/.dbg_history
.config/go
.config/lazygit/state.yml
.config/nekome/.cred.toml
.config/nvim/lazy-lock.json
.config/skk
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/tmux/plugins
.config/zsh/.zcompdump
.DS_Store
*.log
