<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/skk-jisyo</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.L</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.lisp</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.jinmei</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.fullname</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.emoji</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.edict</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.edict2</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.geo</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.hukugougo</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.mazegaki</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.notes</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.propernoun</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.requested</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>location</key>
		<string>~/.local/share/skk/SKK-JISYO.station</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
